@use 'base/variables' as var;
@use 'base/mixins' as m;

.menu-content {
    background-image: url(../img/cafe.webp);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100%;
    aspect-ratio: 3 / 8.6;
    @include m.mobile {
        aspect-ratio: 3 / 4.5;
    }
    @include m.tablet {
        @include m.grid(2, var.$separation);
        aspect-ratio: 16 / 8;
        background-size: 40%;
        background-position: bottom right;
    }
    .text {
        p {
            font-size: 2rem;
        }
    }
}