@use 'base/variables' as var;
@use 'base/mixins' as m;

.our-menu {
    background-image: url(../img/menu_arriba.svg), url(../img/menu_abajo.svg), linear-gradient(to top, var.$primary, var.$primary);
    background-repeat: no-repeat;
    background-position: center 4rem, center 93%, 100%;
    background-size: 200%;
    padding: 15rem 2rem 30rem 2rem;
    @include m.tablet {
        background-position: center 4rem, center 90%, 100%;
        padding: 15rem 0 40rem 0;
        background-size: 90%, 90%, 100%;
    }
}
.grid-menu {
    @include m.tablet {
        @include m.grid(2, 2rem);
    }
}
.menu {
    h3 {
        color: var.$white;
    }
    li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
            color: var.$white;
            font-size: 2.2rem;
            line-height: 1.5;
            margin: 0 0 2rem 0;
            span {
                display: block;
                color: var.$secondary;
            }
        }
        .price {
            font-size: 4rem;
            font-weight: 700;
        }
    }
}